node_modules

.env
secretsConfig
<secretsConfig>.js
neighborhoodrecipe-schema.sql
neighborhoodrecipe.sql
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
